<!doctype html>
<html>
    <head>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>
            {% block title %} 
            {% endblock %}        
        </title>
    </head>

    <body>

        <center><h1 class="my-0 font-weight-normal">Interface examen IHR 2022</h1></center>
        <br><br>

        <div class="container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Student backend</h4>
                </div>
                <div class="card-body">
                  <h1> Human picture </h1>
                  <br>

                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                  
                  <div id="place_for_human"></div>

                  <script>


                    function executeQuery() {
                      $.ajax({
                        url: '/current_human', 
                        success: function(response) {
                          //window.alert("success");
                          $("#place_for_human").html(response);
                        }
                      });
                      setTimeout(executeQuery, 500); // you could choose not to continue on failure...
                    }

                    $(document).ready(function() {
                      // run the first time; all subsequent calls will take care of themselves
                      setTimeout(executeQuery, 500);
                    });


                  </script>
                  
                  
                  <!--<p><img src="https://boredhumans.b-cdn.net/faces2/{{ human_index }}.jpg" alt="Qries" width="400" height="400"/></p>-->
                </div>
              </div>
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Robot's tablet</h4>
                </div>
                <div class="card-body" id="tablet_div">
                  <h1> Voulez-vous acheter ? </h1>
                  <br>

                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                  
                  <div id="place_for_product"></div>

                  
                  
                  <script>


                    function executeQuery_product() {
                      $.ajax({
                        url: '/current_product', 
                        success: function(response) {
                          //window.alert("success");
                          $("#place_for_product").html(response);
                        }
                      });
                      setTimeout(executeQuery_product, 500); // you could choose not to continue on failure...
                    }

                    $(document).ready(function() {
                      // run the first time; all subsequent calls will take care of themselves
                      setTimeout(executeQuery_product, 500);
                    });


                  </script>

                </div>
              </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>