{% from 'form.html' import render_form %}
<html>
    <head>
        <!-- Bootstrap CSS -->
    </head>
    <body>
        <title>
            {% block title %} 
            {% endblock %}        
        </title>

        <h2>Login</h2>
        {% block content %} 
        {% endblock %}

    <!-- Bootstrap JS -->
    </body>
</html>